.chatWrap {
  margin: 0 auto;
  max-width: 600px;
}
.chat-card {
  height: 660px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
@media (max-width: 769px) {
  .chat-card {
    height: 460px;
  }
  .container {
    padding: 0;
  }
}
.message-area {
  width: 100%;
  height: 2em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.balloon {
  width: 100%;
  margin: 10px 0;
}

.balloon .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
  p {
    font-size: 15px;
  }
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

/* 右側の緑コメント*/
.mycomment {
  text-align: right;
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #1abc9c;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #1abc9c;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}